page-prelogin{
    .header{
		.toolbar{
			.toolbar-background{
				background:none;
				border:none;
			}
			.back-button, .toolbar-title{color:color($colors, light, base);}
		}
		&:after{display:none}
	}
    .content{
        background:url(../assets/images/login-bg.png);
		background-size:100% auto;
    }
}