<ion-header no-border (swipe)="onSwipeContent($event)" class="dp-head">
	<ion-toolbar>
		<button ion-button menuToggle color="gray9">
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-buttons end>
			<button-search #search></button-search>
			<button-cart #cart icon="cart"></button-cart>
		</ion-buttons>
	</ion-toolbar>
	<ion-toolbar no-padding>
		<ion-row class="scroll-categories" align-items-start>
			<ion-col align-self-center text-center class="col-with-arrow" (click)="slidePrev()" no-padding col-1>
				<ion-icon gray8 *ngIf="showLeftButton" name="arrow-back"></ion-icon>
			</ion-col>
			<ion-col no-padding col-10>
				<ion-slides #catSlides zoom="false" (ionSlideDidChange)="slideChanged()" slidesPerView="3">
					<ion-slide *ngFor="let category of parentCategories;let i = index" (click)="changeSubCats(category.id, i)">
						<span gray8>{{ category.name }}</span>
					</ion-slide>
				</ion-slides>
			</ion-col>
			<ion-col align-self-center text-center class="col-with-arrow" (click)="slideNext()" no-padding col-1>
				<ion-icon gray8 *ngIf="showRightButton" name="arrow-forward"></ion-icon>
			</ion-col>
		</ion-row>
	</ion-toolbar>
	<ion-toolbar no-padding [hidden]="selectedCategoryId == 0">
		<ion-row class="scroll-categories sub" align-items-start>
			<ion-col align-self-center text-center class="col-with-arrow" (click)="slideSubPrev()" no-padding col-1>
				<ion-icon dark444 *ngIf="showLeftButtonSub" name="arrow-back"></ion-icon>
			</ion-col>
			<ion-col no-padding col-10>
				<ion-slides #subCatSlides zoom="false" (ionSlideDidChange)="slideSubChanged()" slidesPerView="3">
					<!---->
					<ion-slide *ngFor="let subcategory of currentChildCategories; let i = index" [class.bestsales]="selectedSubCategoryId == -1"
					 (click)="changeSubCategory(subcategory.id, i)">
						<span [innerHTML]="subcategory.name.substring(0,20)"></span>
					</ion-slide>

				</ion-slides>
			</ion-col>
			<ion-col align-self-center text-center class="col-with-arrow" (click)="slideSubNext()" no-padding col-1>
				<ion-icon dark444 *ngIf="showRightButtonSub" name="arrow-forward"></ion-icon>
			</ion-col>
		</ion-row>
	</ion-toolbar>
	<ion-toolbar class="header-filter">
		<div float-right [hidden]="selectedCategoryId == 0">
			<!--<button ion-button clear color="dark" no-margin (click)="openFilter()" class="disable-hover button-drop">
			<span [attr.primary]="filter.open=='filter' ? true : null">{{'categories.filter'|translate}}</span>
			<ion-icon name="md-arrow-dropdown"></ion-icon>
		</button>-->
			<button ion-button clear color="dark" no-margin (click)="openSort()" class="disable-hover button-drop">
				<span [attr.primary]="filter.open=='sort' ? true : null">{{'categories.sort'|translate}}</span>
				<ion-icon name="md-arrow-dropdown"></ion-icon>
			</button>
		</div>
		<div float-left>
			<button float-right ion-button clear color="dark" no-margin class="disable-hover" [ngClass]="{'disabled':filter.grid}"
			 (click)="filter.grid=false">
				<ion-icon name="reorder" size="large"></ion-icon>
			</button>
			<button float-right ion-button clear color="dark" no-margin class="disable-hover" [ngClass]="{'disabled':!filter.grid}"
			 (click)="filter.grid=true">
				<ion-icon name="grid" size="large"></ion-icon>
			</button>
		</div>
		<!--
		<div float-right>
			<ion-row align-items-center>
				<ion-col align-self-center>
						<span *ngIf="workingAddress.title != ''" delportal>Entregar en:</span>
						<span *ngIf="workingAddress.title != ''" [innerHtml]="workingAddress.title"></span>
				</ion-col>
			</ion-row>
		</div>-->
	</ion-toolbar>
</ion-header>
<ion-content>
	<!-- Refresh -->
	<ion-refresher (ionRefresh)="doRefresh($event)">
		<ion-refresher-content [pullingIcon]="'general.pullingIcon'|translate" [pullingText]="'general.pullToRefresh'|translate"
		 [refreshingSpinner]="'general.refreshingSpinner'|translate" [refreshingText]="'general.refreshing'|translate">
		</ion-refresher-content>
	</ion-refresher>



	<!-- Filter -->
	<div *ngIf="filter.open=='filter'" ion-fixed width-100 height-100 light-bg>
		<ion-scroll width-100 height-100 scrollY="true">
			<ion-list>
				<!-- Range Price -->
				<hide-show color="light">
					<span this-title>
						<b>{{'categories.price_range'|translate}}</b>
						<span>{{range['lower']/100|price}}</span>
						<span *ngIf="0<range['upper']"> - {{range['upper']/100|price}}</span>
					</span>
					<ion-range this-content dualKnobs="true" [min]="prices['minCents']" [max]="prices['maxCents']" [(ngModel)]="range">
						<span range-left>{{prices['min']|price}}</span>
						<span range-right>{{prices['max']|price}}</span>
					</ion-range>
				</hide-show>
				<hide-show color="light" *ngFor="let attr of attributes.attributes" class="filter-attribute">
					<span this-title>
						<b text-capitalize [innerHTML]="attr.name"></b>
					</span>
					<ion-list wrap this-content padding-bottom>
						<ion-row>
							<ion-col no-padding width-50 *ngFor="let term of attr.term">
								<ion-item>
									<ion-label>{{term.name}}</ion-label>
									<ion-checkbox [(ngModel)]="filter.value[attr.slug][term.slug]"></ion-checkbox>
								</ion-item>
							</ion-col>
						</ion-row>
					</ion-list>
				</hide-show>
				<hide-show color="light" *ngFor="let attr of attributes.custom" class="filter-attribute">
					<span this-title>
						<b text-capitalize [innerHTML]="attr.name"></b>
					</span>
					<ion-list wrap this-content padding-bottom>
						<ion-row>
							<ion-col width-50 *ngFor="let term of attr.term|ObjectToArray" no-padding>
								<ion-item>
									<ion-label>{{term.name}}</ion-label>
									<ion-checkbox [(ngModel)]="filter.valueCustom[attr.slug][term.slug]"></ion-checkbox>
								</ion-item>
							</ion-col>
						</ion-row>
					</ion-list>
				</hide-show>
			</ion-list>
			<ion-row>
				<ion-col col-6 no-padding>
					<button ion-button full color="secondary" (click)="reset()">
						<span>{{'general.reset'|translate}}</span>
					</button>
				</ion-col>
				<ion-col col-6 no-padding>
					<button ion-button full (click)="runFilter()">
						<span>{{'categories.done'|translate}}</span>
					</button>
				</ion-col>
			</ion-row>
		</ion-scroll>
	</div>
	<!-- Sort -->
	<div *ngIf="filter.open=='sort'" ion-fixed width-100 height-100 mark tappable (click)="filter.open=null">
		<ion-list radio-group [(ngModel)]="sort" class="list-sort" (ngModelChange)="runSort()">
			<ion-item *ngFor="let option of 'categories.sortData'|translate">
				<ion-label [innerHTML]="option.text"></ion-label>
				<ion-radio [value]="option.value"></ion-radio>
			</ion-item>
		</ion-list>
	</div>

	<!-- List products #5BB259 -->
	<ion-row padding-8 wrap *ngIf="0< products.length" [ngClass]="{'filter-list':!filter.grid}">
		<ion-col padding-8 relative [attr.width-33]="filter.grid ? true : null" *ngFor="let product of products" class="product-block">
			<div [navPush]="DetailPage" [navParams]="{id:product.id}" relative class="product-image clearfix">
				<ion-badge green3-bg *ngIf="cartArray[product.id] != null" item-left absolute>{{cartArray[product.id].qty}}</ion-badge>
				<img-loader useImg [spinner]="false" float-left *ngIf="product.square_image" src="{{product.square_image}}"></img-loader>
				<img float-left border *ngIf="product.square_image == ''" src="assets/images/logo-preload.png" />
				<div absolute bottom right rojo-bg product-sale style="margin-right:0;" *ngIf="(product.sale_price && product.type!='variable' && product.type!='grouped') || ((product.type=='variable'||product.type=='grouped') && product.on_sale)"
				 class="sale">
					<ion-icon name="time" light></ion-icon>
					<span class="promo" light>PROMO</span>
					<!--<span light>{{(product.sale_price/product.regular_price*100)-100|number:'1.0-0'}}%</span>-->
				</div>
				<!--<img absolute icon-sale *ngIf="(product.type=='variable'||product.type=='grouped') && product.on_sale" src="assets/images/icon-sale.png" />-->
			</div>
			<div class="product-info clearfix">
				<div [navPush]="DetailPage" [navParams]="{id:product.id}">
					<p [attr.no-margin]="filter.grid ? null : true" width-100 [attr.text-center]="filter.grid ? true : null">
						<span class="product-price" *ngIf="product.type!='variable' && product.type!='grouped'" font-120>
							<span *ngIf="product.sale_price" margin-left text-through>{{product.regular_price*1|price}}</span>
							<b [attr.dark]="product.sale_price == '' ? null : true" [attr.rojo]="product.sale_price != '' ? true : null">{{product.price*1||0|price}}</b>
						</span>
						<span class="product-price" *ngIf="product.type=='variable' || product.type=='grouped'" font-120>
							<b dark [innerHTML]="product.price_html"></b>
						</span>
					</p>
					<!-- <span class="product-title" dark [innerHTML]="product.name"></span> -->
					<span class="product-title capFirst" text-lowercase dark444 float-left width-100 [attr.text-center]="filter.grid? true : null"
					 [innerHTML]="filter.grid ? product.name.substring(0,32) : product.name"></span>
					<!--<div *ngIf="product.type=='variable' && 0< product.attributes.length" [hidden]="filter.grid">
						<div *ngFor="let attribute of product.attributes|filter:{variation:true}">
							<span [innerHTML]="attribute.name"></span>:
							<span dark>{{attribute.options|ArrayJoin:', '}}</span>
						</div>
					</div>-->
					<!-- <div [hidden]="filter.grid" overflow>
					<div float-left primary no-wrap class="sale">{{'categories.sold'|translate}} {{product.total_sales}}</div>
				</div> -->
				</div>
				<div class="button-cart-list" *ngIf="product.type!='variable' && product.type!='grouped' && product.type!='external'">
					<button ion-button class="button-cart" [disabled]="!product.price" (tap)="addtoCart(product)">
						<div float-left width-100 font-weight-500>
							<img src="assets/images/cart.png" width="18px" /> &nbsp; Agregar
						</div>
					</button>
				</div>
				<!--
				<div class="button-cart-list-option" *ngIf="product.type=='variable' || product.type=='grouped' || product.type=='external'"
				 [navPush]="DetailPage" [navParams]="{id:product.id}">
					<button ion-button class="button-cart">
						<div float-left width-100 font-weight-500>
							<span class="add-to-cart">{{'categories.chooseoption' | translate}}</span>
						</div>
					</button>
				</div>-->
			</div>
		</ion-col>
	</ion-row>
	<div padding *ngIf="products.length < 1 && noResuilt" text-center style="margin:0 auto;">{{'general.no_data'|translate}}</div>
	<ion-infinite-scroll (ionInfinite)="load($event)" *ngIf="!over && !filtering">
		<ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>