<div padding light text-center class="footer">
	<h5 text-uppercase margin-top>{{'modern_footer_details_title'|static}}</h5>
	<p>{{'modern_footer_address'|static}}</p>
	<a href="tel:+84983335270">{{'modern_footer_phone'|static}}</a>
	<p>{{'modern_footer_email_domain'|static}}</p>
	<div padding-8 >
		<button ion-button icon-only clear color="light" class="disable-hover" (click)="openLink(data.twitter, true)"><ion-icon name="icon-twitter"></ion-icon></button>
		<button ion-button icon-only clear color="light" class="disable-hover" (click)="openLink(data.facebook, true)" ><ion-icon name="icon-facebook"></ion-icon></button>
		<button ion-button icon-only clear color="light" class="disable-hover" (click)="openLink(data.google, true)"><ion-icon name="logo-instagram"></ion-icon></button>
	</div>
	<p>{{'general.copyright'|translate}}</p>
</div>