page-delivery-address {
    .mapContainer{
        margin-top:1vh;
        height: 70vw;
        position:relative;
    }
    #map_canvas{height:100%;}
    .map-note{color:#FFF;background:rgba(34,34,34,0.9);position: absolute;left:0;bottom:0;right:0;text-align:center;font-size:12px;}

    ion-segment{max-width:80%;margin:0 auto;}
    .segment-button{border:solid 1px rgba(0,0,0,0.1);text-transform:capitalize !important;font-size:1.4rem !important;}
    
    .address-indicator{border:solid 1px #CAE0C7;background:url(../assets/images/marker.png) no-repeat 5% 50% ;padding:15px 5px 15px 15%;}
    .address-indicator2{padding:2%;margin-top:1em;border:solid 1px #CAE0C7;}
    
}
