<ion-header no-border class="dp-head">
    <ion-toolbar>
        <button ion-button menuToggle color="gray9">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons end>
            <button-search #search></button-search>
            <button-cart #cart icon="cart"></button-cart>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>

    <h5 delportal text-center>Tus Listas de Compras</h5>

    <ion-list class="addresesList" *ngIf="!noResult" no-margin>
        <ion-item-sliding *ngFor="let shoppingList of shoppingLists">
            <ion-item [navPush]="DetailShoppingListPage" [navParams]="{id:shoppingList.id}">
                <ion-icon name="{{shoppingList.type}}" color="primary" item-left></ion-icon>
                {{shoppingList.title}}
            </ion-item>
            <ion-item-options side="right">
                <button ion-button (click)="rename(shoppingList.id)" color="delportal">
                    <ion-icon name="create"></ion-icon>
                </button>
                <button ion-button (click)="delete(shoppingList.id)" color="rojo">
                    <ion-icon name="trash"></ion-icon>
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-row *ngIf="noResult">
        <ion-col text-center>
            Aún No tienes listas de compras.
        </ion-col>
    </ion-row>
    <ion-row *ngIf="!loggedIn">
        <ion-col text-center>
            <p>Debes iniciar sesión para ver tus listas.</p>
            <button ion-button color="delportal" (click)="gotoLogin()">
                <div float-left width-100 font-weight-500>
                    Iniciar Sesión
                </div>
            </button>
        </ion-col>
    </ion-row>

</ion-content>
<ion-footer *ngIf="loggedIn">
    <ion-toolbar>
        <ion-buttons text-center>
            <ion-col>
                <button ion-button bg-primary (click)="addNewList()" class="disable-hover">
                    Crear Nueva Lista
                </button>
            </ion-col>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>