<ion-menu [content]="content">
	<ion-content>
		<ion-list no-margin class="account-list" (swipe)="onSwipeContent($event)">
			<div relative overflow class="account-header" text-center (swipe)="onSwipeContent($event)">
				<img float-left width-100 src="assets/images/account-bg.png" />
				<div mark absolute top left width-100 height-100></div>
				<button absolute top right ion-button color="light" clear menuClose class="button-close" style="border:none;">
					<ion-icon name="close"></ion-icon>
				</button>
				<ion-row center padding absolute top left align-items-end width-100 height-100>
					<ion-col secondary>
						<div *ngIf="!data.login">
							<div class="account-avatar" margin-auto light>
								<ion-icon name="contact"></ion-icon>
							</div>
							<button menuClose ion-button color="light" clear  text-uppercase (click)="login()" class="disable-hover"  style="border:none;">
								<b>{{'account.login'|translate}}</b>
							</button>
						</div>
						<div *ngIf="data.user">
							<div class="account-avatar" margin-auto>
								<ion-icon *ngIf="!data.user.mobiconnector_avatar" menuClose name="person" (click)="openPage(pageProfileMenu)"></ion-icon>
								<img *ngIf="data.user.mobiconnector_avatar" menuClose [src]="data.user.mobiconnector_avatar"  (click)="openPage(pageProfileMenu)" />
							</div>
							<h4 no-margin menuClose (click)="openPage(pageProfileMenu)">
								<b light text-underscore>{{data.user.display_name}}</b>&nbsp;
							</h4>
						</div>
					</ion-col>
				</ion-row>
			</div>
			<ion-list>
				<button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
					{{p.title}}
				</button>
			</ion-list>
		</ion-list>
	</ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content></ion-nav>
<ion-row width-100 height-100 center *ngIf="!isLoaded">
	<ion-col relative light-bg>
		<div absolute text-center width-100 style="top:46%;">
			<ion-spinner></ion-spinner>
		</div>
	</ion-col>
</ion-row>
<div absolute padding text-center width-100 primary-bg *ngIf="isLoaded && disconnect" class="disconnect">
	{{'general.disconnect'|translate}}
</div>