html{
	&.small{font-size:56.25%;}
	&.normal{font-size:62.5%;}
	&.large{font-size:68.75%;}
	&.extra_large{font-size:75%;}
}
/*ion-icon[class*="ion-ios-icon-"], ion-icon[class*="ion-md-icon-"]{font-family:"vspfonts", "Roboto", "fontello"}*/
.button-close{z-index:6000;font-size:xx-large;padding:0;height:auto;}
.account-avatar{
	font-size:72px;
	img {border-radius: 50%;}
}
ion-backdrop{background-color: #000;opacity: 0.8;}
.alert-message{overflow:auto}
.back-button-icon-ios{font-size:2.5rem!important}
.text-input-md{margin-left:8px!important}
.item-md {color:#555555;}
.item-md .text-input-ios{margin-left:8px!important}
.cloned-input{display:none}
.input-has-focus .label-ios[floating]{
	color:color($colors, primary);
}
.segment-button.segment-activated {background-color:color($colors,primary);color:color($colors,light);}
.select-ios .select-text{margin-left:8px}
img{
	max-width:100%;
	max-height:100%;
}
p{margin:8px 0}
::placeholder{
    text-overflow:ellipsis;
}
::-webkit-input-placeholder{text-overflow:ellipsis!important;}
::-moz-placeholder{text-overflow:ellipsis!important;}
:-moz-placeholder{text-overflow:ellipsis!important;}
:-ms-input-placeholder{text-overflow:ellipsis!important;}

html[dir="ltr"]{
	[float-left]{float:left}
	[float-right]{float:right}
	page-detail .product-slides .product-favorite {
		right:15px;
	}
	[right]{margin-right: 16px;}
}
html[dir="rtl"]{
	.label-ios[floating] {
	  transform-origin: right top;
	}
	.item-ios.item-block .item-inner {
	   padding-right: 0px; 
	}
	page-address{
		.label-ios {
		  margin: 11px 0px 11px 0;
		}
	}
	page-cart{
		.label-ios {
		  	margin: 11px 16px 11px 10px;
		}
		.text-input-ios {
    		margin: 11px 16px 11px 0;
    	}
    	.list-product .item-product .button-delete {
		    top: -10px;
		    left: -16px;
		}
		[right]{margin-left: 16px;}
		[left]{margin-right: 16px;}
	}
	page-account {
		.item-ios ion-icon[item-left] {

		}
		.item-ios {
			padding-right: 16px;
			padding-left: 0;
		}
		.item-ios [item-left] {
			margin: 8px 0 8px 16px;
		}
	}
	page-checkout{
		.checkout-term {
			.term-note{
				padding-left: 0;
				padding-right: 28px;
			}
		}
		hide-show {
			.button-change [this-title] .icon {
				  float: right;
				  margin-left: 8px;
				}
		}
		.item-divider-ios {
			padding-left: 0;
			padding-right: 16px;
		}
		.item-ios [item-left] {
			margin: 8px 0px 8px 16px;
		}
	}
	page-detail-order {
		[text-left] {text-align: left !important;}
		.checkout-term {
			.term-note{
				padding-left: 0;
				padding-right: 28px;
			}
		}
		.item-ios [item-left] {
			margin: 8px 0px 8px 16px;
		}
		.item-divider-ios {
			padding-left: 0;
			padding-right: 16px;
		}
		hide-show .button-change [this-title] .icon {
		    float: right;
		    margin-left: 8px !important;
		}
		.item-order-detail{padding-right: 0;}
		[margin-right-order]{margin-left: 16px;}
		[float-right] {float: left !important;}
		[float-left] {float: right !important;}
	}
	.item-md.item-block .item-inner {
	  padding-right: 0px;
	}
	.label-ios {
	  margin: 11px 0px 11px 10px;
	}
	.item-ios.item-label-floating .text-input {
		margin-right: 0;
	}
	[float-left]{float:right}
	[float-right]{float:left}
	[text-right]{text-align:left !important}
	[text-left]{text-align:right !important}
	[margin-left] {margin-right: 16px !important;}
	[margin-right] {margin-left: 16px !important;}
	
	page-detail .product-slides .product-favorite {
		left:15px !important;
	}
	.favorite{
		left:-16px;
	}
	.detail{
		left:0;
	}
	.product-detail{
		/*padding-right:8px;*/
		padding-left: 0px;
	}
	.filter-list ion-col .product-detail .icon-check-cart{
		margin-right: 0;
		margin-left: 10%;
	}

	.filter-list {
		.product-block {
			.product-info {
				padding: 0 10px 0 0;
			}

			.icon-cart-iconcartcheck {
				left: 35px;
				right: auto;
			}

			.btn-favorite {
				left: 8px;
				right: auto;
			}

			.product-price {padding: 0 0 0 50px;}
		}
	}

	.button-cart-list {
		display: block ;
    	justify-content: space-between;

		.add-to-cart {margin: 0 5px 0 0;}
	}

	page-account .account-list .toggle {
		margin: 8px 8px 8px 0;
	}

	page-detail {
		.product-rate {
			.rate {
				margin-left: 16px;
			}

			.ion-ios-arrow-forward {margin: 0;}
		}

		.quantity-title {
			display: flex;
			justify-content: space-between;
		}

		.quantity-price .col {
			display: flex;
			&:first-child {
				justify-content: flex-start;
			}

			&:last-child {
				justify-content: flex-end;
			}
		}
	}

}
[disable-transform=true]{
	position:fixed;
	transform:none!important;
}
[relative]{position:relative}
[absolute]{position:absolute}
[overflow]{overflow:auto}
[width-100], [size-full]{width:100%}
[height-100], [size-full]{height:100%}
[no-padding-hard]{padding:0!important}
[no-padding-left]{padding-left:0}
[padding-4]{padding:4px}
[padding-4-vertical]{padding:4px 0}
[padding-8]{padding:8px}
[padding-8-vertical]{padding:8px 0}
[padding-8-horizontal]{padding:0 8px}
[padding-12]{padding:12px;}
[margin-auto]{
	display:block;
	margin:0 auto
}
[border-top]{border-top:solid 1px #DDD}
[border]{border:solid 1px #DDD;}
[border-right]{border-right: 1px solid #f0f0f0}
[border-bottom]{border-bottom: 1px solid #f0f0f0}
[border-left]{border-left: 1px solid #f0f0f0}
[no-border]{border:none}
[top]{top:0}
[right]{right:0}
[bottom]{bottom:0}
[left]{left:0}
[text-through]{text-decoration:line-through}
[text-none]{text-decoration:none}
[font-120]{font-size:120%}
[font-110]{font-size:110%}
[font-90]{font-size:90%}
[font-80]{font-size:80%}
[bg-full]{background-size:100% 100%}
[bg-transparent]{background:transparent}
[icon-big]{font-size:2em}
[icon-page]{font-size:3em}
[no-wrap]{white-space:nowrap}
[no-wrap-ellipsis]{
	white-space:nowrap;
	display:block;
	text-overflow:ellipsis;
	overflow:hidden;
}
[width-80] {
    flex: 0 0 80%;
    width: 80%;
    max-width: 80%;
}
[width-50] {
    flex: 0 0 50%;
    width: 50%;
    max-width: 50%;
}
.capFirst::first-letter{text-transform: uppercase;}
.no-data{line-height:28px}
.rate{
	display:inline-block;
	overflow:hidden;
	width:66px;
	height:13px;
	background:url(../assets/images/rate.png) no-repeat 0px -14px;
}
.rating{
	display:block;
	height:13px;
	background:url(../assets/images/rate.png) no-repeat;
}
.alert-no-title{
	.alert-head{display:none}
	.alert-message{padding:24px}
}
.term-condition{
	.alert-wrapper {
		.alert-head {
			border-bottom:1px solid #ebebeb;
		}
		.alert-message{
			text-align: left;
		}
	}
	.alert-button-default{
		color:color($colors, azure);
	}
}
.alert-ios .alert-button:last-child{font-weight:normal}
.alert-forgot{
	.alert-wrapper{
		background:#fff;
		overflow:hidden;
		position: relative;
	}
	.alert-title{
		font-size:21px;
		text-align:left;
	}
	.alert-message{
		font-size:12px;
		padding-bottom:0;
		overflow-y:visible;
		text-align:left;
	}
	.alert-input-group{
		padding-bottom:0;
		.alert-input{
			border-radius:0;
			border:none;
			border-bottom:1px solid #C1BCB6;
		}
	}
	.alert-button-group{
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		padding:0 $content-padding;
		padding-bottom:24px;
		margin-top:10px;
		.button-cancel{
			position:absolute;
			top:0;
			right:0;
			margin:0;
			min-width:40px;
			.button-inner{
				&:before{
					content:"\f2c0";
					font-family:"Ionicons";
					font-size:18px;
					color:#76746F;
				}
			}
		}
		.button-confirm{
			max-width:50%;
			font-size:12px;
			height:34px;
			text-transform:uppercase;
			border-radius:5px;
			background:color($colors, primary);
			color:color-contrast($colors, primary);
		}
	}
}
.alert-signout{
	.alert-button-default{
		color:color($colors, green3);
	}
}
.action-text-size{
	.selected{color:color($colors, gray)}
}
.disconnect{
	bottom:$toolbar-ios-height;
	color:color-contrast($colors, primary);
}
[product-border]{
	border:2px solid #fcfcfc;
	img{
		width:100%;
		height:100%;
	}
}
[product-sale]{
	padding:0 4px;
}
[icon-sale]{
    top:4px;
	left:-3px;
    width:36px!important;
	height:auto!important;
}
[icon-outstock] {
    top: 4px;
    left: -2px;
    width: 68px !important;
    height: auto !important;
}
[text-underline]{text-decoration:underline;}
.disable-hover{
	.button-effect{display:none;}
}
.button-clear{
	&.activated{background:none!important;}
}
.select-address{
	.alert-button-group{
		.alert-button:first-child{color:color($colors, dark);}
		.alert-button:last-child{color:color($colors, navy);}
	}
}
[margin-0]{margin:0;}
[font-weight-500]{font-weight: 500}
[font-weight-700]{font-weight: 700}

.button-cart-list{
	text-align:center;
	.button-cart{
		/*border: 1px solid color($colors, primary);
		height: 28px;
		padding: 0 10px;
		opacity: 1 !important;
		margin: 5px 0 0;*/
		.icon-cart-add{
			font-size: 18px;
			margin-top: -1px;
		}
		.add-to-cart{
			font-size: 12px;
			margin-left: 5px;
		}

		.button-inner > div {
			display: flex;
		    justify-content: center;
		    align-items: center;
		}
	}
	.icon-cart-iconcartcheck{padding-top:9px; font-size: 17px;}
}

.button-cart-list-option{
	.button-cart{
		background-color: #fff;
		border: 1px solid #333e48;
		border-radius: 14px;
		height: 28px;
		padding: 0 10px;
		line-height: 28px;
		margin:5px 0 0;
		.icon-cart-add{font-size: 18px;}
		.add-to-cart{font-size: 13px; color: #333e48;}
	}
}

.product-block {
	.product-price {
		/*display: flex;
		align-items: center;
		flex-wrap: wrap;*/
		display:inline;
		text-align:center;
		color: color($colors, dark);
	}

	.product-title {
		display: block;
		max-height: 36px;
		height:36px;
		
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

// .row {
// 	align-items: center;
// }

.clearfix:after {
	content: "";
    clear: both;
    display: table;
}


ion-app.md{font-family:Lato, sans-serif !important; }
.dp-head {
	ion-toolbar:first-child {
		background-image:url(../assets/images/header-bg.jpg);
		background-repeat:no-repeat;
		background-size:cover;
		min-height: 66px !important;
	}
	ion-toolbar .toolbar-background{
			background:transparent;
	}

	ion-toolbar .bar-button-default-md, ion-toolbar .bar-button-clear-md-default, ion-toolbar .bar-button-md-default {
		color:#999;
	}
	ion-toolbar ion-buttons{margin-top:5px;}
	.bar-button{font-size:22px;color:#777;}
	.back-button-icon{color:#000;}
	.magnifier{background-image:url(../assets/images/magnifier.png); background-repeat: no-repeat; background-size: 50% 50%;width:36px;height:32px;background-position: center center;}
}

[width-33] {
    flex: 0 0 33%;
    width: 33%;
    max-width: 33%;
}

[width-25] {
    flex: 0 0 25%;
    width: 25%;
    max-width: 25%;
}
[width-75] {
    flex: 0 0 75%;
    width: 75%;
    max-width: 75%;
}
[bordered-textarea]{border:solid 1px #95C18E;}
.toolbar-title{font-size:1.5rem;}
ion-icon[size="large"]{font-size:2em;}
.header-filter{
	min-height:38px;
	border-top:1px solid #EEE;
	border-bottom:1px solid #EEE;
	.button{
		padding:0 8px;
		span{margin-right:5px}
		&.disabled{color:#cdcdcd}
		&.button-drop .icon{
			position: absolute;
			right: 0px;
			color: #C1BCB6;
			transform: rotate(-45deg);
			bottom: 8px;
			font-size: 20px;
		}
	}
	ion-icon{font-size:2em;}
}

.verticalCentered{
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	height: 100%;
}

.closedStore{
	h2{color:color($colors, delportal);
		text-align:center;
		font-weight: bold;
		font-size:16px;
		span{
			font-size:22px;
		}
	}
	h3{text-align:center;}
	
}

.adressesList {
	ion-label {text-overflow:clip; white-space:normal; }
	.list-header-md{border:none;}

	h3{padding-top:5px;}
}

ion-content .button{border: solid 1px #CCC !important;font-weight: 700;}

@import "../../node_modules/ionic2-auto-complete/auto-complete.scss";
