<ion-header no-border (swipe)="onSwipeContent($event)" class="dp-head">
	<ion-toolbar>
		<button ion-button menuToggle color="gray9">
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-buttons end>
			<button-search #search></button-search>
			<button-cart #cart icon="cart"></button-cart>
		</ion-buttons>
	</ion-toolbar>
	<ion-navbar>
		<ion-title>Regresar a Lista de Órdenes</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<h4 *ngIf="data" delportal>Pedido #{{data.id}}</h4>
	<!-- Status -->
	<div padding text-left relative *ngIf="data" class="order-status" [ngClass]="data.status">
		<span light>{{'detailOrder.order_status'|translate}}
			<!-- <span text-capitalize>{{data.status}}</span> -->
			<span *ngIf="data.status == 'processing'" text-capitalize>{{'order.status.processing' |translate }}</span>
			<span *ngIf="data.status == 'on-hold'" text-capitalize>{{'order.status.on_hold' |translate }}</span>
			<span *ngIf="data.status == 'cancelled'" text-capitalize>{{'order.status.cancelled' |translate }}</span>
			<span *ngIf="data.status == 'completed'" text-capitalize>{{'order.status.completed' |translate }}</span>
			<span *ngIf="data.status == 'pending'" text-capitalize>{{'order.status.pending' |translate }}</span>
			<span *ngIf="data.status == 'refunded'" text-capitalize>{{'order.status.refunded' |translate }}</span>
			<span *ngIf="data.status == 'failed'" text-capitalize>{{'order.status.failed' |translate }}</span>
		</span>
		<div absolute top right-0 height-100 class="order-date" text-nowrap>{{data.date_created|date:date_format}}</div>
	</div>
	<!-- Address -->
	<ion-list class="address" *ngIf="data && data.shipping">

		<hide-show color="light" show="false" no-border>
			<span this-title>
				<b delportal>{{'detailOrder.delivery_address'|translate}}</b>
			</span>
			<div this-content>
				<p>
					<b>{{data.shipping.first_name}} {{data.shipping.last_name}}</b>
				</p>
				<p>{{data.shipping.company}}</p>
				<p>{{data.shipping.address_1}} {{data.shipping.address_2}}</p>
				<p>{{data.shipping.city}}</p>
				<p>{{data.shipping.country}}</p>
				<p>{{data.billing.phone}}</p>
				<p>{{data.shipping.postcode}}</p>
			</div>
		</hide-show>
		<hide-show color="light" show="false" no-border>
			<span this-title delportal>
				<ion-icon name="card" icon-big></ion-icon>
				<b >{{'detailOrder.billing_address'|translate}}</b>
			</span>
			<div this-content>
				<p>
					<b>{{data.billing.first_name}} {{data.billing.last_name}}</b>
				</p>
				<p>{{data.billing.company}}</p>
				<p>{{data.billing.address_1}} {{data.billing.address_2}}</p>
				<p>{{data.billing.city}}</p>
				<p>{{data.billing.country}}</p>
				<p>{{data.billing.phone}}</p>
				<p>{{data.billing.postcode}}</p>
			</div>
		</hide-show>
	</ion-list>
	<!-- Shipping method -->
	<ion-list *ngIf="data && data.shipping_lines && 0<data.shipping_lines.length">
		<hide-show color="light" show="false" no-border>
			<span this-title delportal>
				<ion-icon name="time" icon-big></ion-icon>
				<b>Método de Entrega</b>
			</span>
			<div this-content>
				<ion-item mode="md" *ngFor="let item of data.shipping_lines" no-padding>
					<ion-label>
						<span dark>{{item.method_title}}: </span>
						<span primary *ngIf="item.total">
							<span [innerHTML]="item.total"></span>
						</span>
						<span primary *ngIf="item.total==0" success>{{'detailOrder.free'|translate}}</span>
					</ion-label>
				</ion-item>
			</div>
		</hide-show>
	</ion-list>
	<!-- Payment method -->
	<ion-list *ngIf="data && data.payment_method_title">
		<hide-show color="light" show="true" no-border>
			<span this-title delportal>
				<ion-icon name="wallet" icon-big></ion-icon>
				<b>{{'detailOrder.payment_method'|translate}}</b>
			</span>
			<div this-content>
				<ion-item mode="md" no-padding>
					<ion-label>
						<span dark>{{data.payment_method_title}}</span>
					</ion-label>
				</ion-item>
			</div>
		</hide-show>
	</ion-list>
	<!-- Payment info -->
	<ion-list *ngIf="data && data.payment_method_title">
		<hide-show color="light" show="true" no-border>
			<span this-title delportal>
				<ion-icon name="ios-card" icon-big></ion-icon>
				<b>{{'detailOrder.title_card'|translate}}</b>
			</span>
			<div this-content>
				<div *ngFor="let detail of data.bacs_accounts">
					<ion-item mode="md" no-padding>
						<ion-label>
							<span dark>{{'detailOrder.name'|translate}}</span>
							<b float-right>{{detail.account_name}}</b>
						</ion-label>
					</ion-item>
					<ion-item mode="md" no-padding>
						<ion-label>
							<span dark>{{'detailOrder.cartnumber'|translate}}</span>
							<b float-right>{{detail.account_number}}</b>
						</ion-label>
					</ion-item>
					<ion-item mode="md" no-padding>
						<ion-label>
							<span dark>{{'detailOrder.bankname'|translate}}</span>
							<b float-right>{{detail.bank_name}}</b>
						</ion-label>
					</ion-item>
				</div>
			</div>
		</hide-show>
	</ion-list>
	<!-- Order detail -->
	<ion-list *ngIf="data && data.line_items && 0<data.line_items.length">
		<hide-show color="light" show="true" no-border>
			<span this-title width-100 margin-right-order delportal class="item-order-detail">
				<ion-icon name="reorder" icon-big float-left></ion-icon>
				<b float-left>{{'detailOrder.order_detail'|translate}}</b>
				<span float-right>{{data.line_items.length}} {{'detailOrder.items'|translate}}</span>
			</span>
			<div this-content>
				<!-- List product -->
				<ion-list light-bg class="list-product" padding-vertical no-margin>
					<ion-row *ngFor="let product of data.line_items" no-padding relative class="item-product">
						<ion-col width-25 no-padding [navPush]="DetailPage" [navParams]="{id:product.product_id}">
							<!--<img-loader useImg [spinner]="false" float-left *ngIf="product.images.wooconnector_medium" src="{{product.images.wooconnector_medium}}"></img-loader>-->
							<img float-left *ngIf="product.images.wooconnector_medium" src="{{product.images.wooconnector_medium}}" />
							<img *ngIf="!product.images.wooconnector_medium" src="assets/images/no-image.png">
						</ion-col>
						<ion-col no-padding margin-horizontal [navPush]="DetailPage" [navParams]="{id:product.product_id}">
							<span class="capFirst" text-lowercase dark [innerHTML]="product.name"></span>
							<ion-row wrap padding-4-vertical>
								<ion-col width-50 no-padding *ngFor="let attr of product.meta">
									<span>{{attr.label}}: </span>
									<b text-capitalize>{{attr.value}}</b>
								</ion-col>
							</ion-row>
							<ion-row class="product-quantity" wrap>
								<ion-col no-padding>
									<b>
										<span delportal [innerHTML]="product.sale_price"></span> x{{product.quantity}}</b>
								</ion-col>
							</ion-row>
						</ion-col>
					</ion-row>
				</ion-list>
				<div light-bg dark class="totals" *ngIf="data" padding-bottom>
					<div margin-bottom>
						<b dark text-uppercase>{{'detailOrder.totals'|translate}}</b>
					</div>
					<ion-row>
						<ion-col>{{'detailOrder.total_price'|translate}}</ion-col>
						<ion-col text-right [innerHTML]="data.subtotal"></ion-col>
					</ion-row>
					<ion-row>
						<ion-col>{{'detailOrder.shipping'|translate}}</ion-col>
						<ion-col text-right *ngIf="data.shipping_total" [innerHTML]="data.shipping_total"></ion-col>
					</ion-row>
					<ion-row>
						<ion-col>{{'detailOrder.tax'|translate}}</ion-col>
						<ion-col text-right [innerHTML]="data.total_tax"></ion-col>
					</ion-row>
					<ion-row *ngFor="let coupon of data.coupon_lines">
						<ion-col>{{'detailOrder.coupon_code'|translate}}
							<span gray>({{coupon.code}})</span>
						</ion-col>
						<ion-col text-right [innerHTML]="'-'+coupon.discount"></ion-col>
					</ion-row>
					<ion-row>
						<ion-col>
							<b dark>{{'detailOrder.order_total'|translate}}</b>
						</ion-col>
						<ion-col text-right>
							<b dark [innerHTML]="data.total"></b>
						</ion-col>
					</ion-row>
				</div>
			</div>
		</hide-show>
	</ion-list>
	<div padding *ngIf="data && (data.status=='on-hold' || data.status=='pending')" overflow>
		<button ion-button block (click)="changeStatus()" no-margin class="button-cancel">
			<span>{{'detailOrder.cancel_order'|translate}}</span>
		</button>
    </div>
    <div padding *ngIf="data && (data.status=='completed')" overflow>
		<button ion-button block (click)="repeatOrder()" no-margin>
			<span>Repite tu orden</span>
		</button>
	</div>
</ion-content>