<ion-header no-border (swipe)="onSwipeContent($event)" class="dp-head">
    <ion-toolbar>
        <button ion-button menuToggle color="gray9">
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-buttons end>
            <button-search #search></button-search>
            <button-cart #cart icon="cart"></button-cart>
        </ion-buttons>
    </ion-toolbar>
    <ion-navbar>
        <ion-title>Regresar al carrito</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding text-center>
    <ion-list class="edit-form" no-margin>
        <form [formGroup]="orderCheckoutForm">
            <ion-row>
                <ion-col col-10>
                    <ion-item bg-transparent no-padding>
                        <ion-label floating>Dirección de Entrega</ion-label>
                        <ion-select interface="popover" formControlName="shippingAddressId" [cancelText]="'general.cancel'|translate"
                            [okText]="'general.ok'|translate">
                            <ion-option *ngFor="let da of deliveryAddresses" value="{{da.id}}" [selected]="da.is_default == 'on'">{{da.title}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col col-2 align-self-end>
                    <button ion-button (click)="newDeliveryAddress()" class="disable-hover">
                        <ion-icon name="add" size="large"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-10>
                    <ion-item bg-transparent no-padding>
                        <ion-label floating>Datos para Facturación</ion-label>
                        <ion-select interface="popover" formControlName="billingAddressId" [cancelText]="'general.cancel'|translate"
                            [okText]="'general.ok'|translate">
                            <ion-option *ngFor="let ba of billingAddresses" value="{{ba.id}}" [selected]="ba.is_default == 'on'">{{ba.title}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col col-2 align-self-end>
                    <button ion-button (click)="newBillingAddress()" class="disable-hover">
                        <ion-icon name="add" size="large"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col col-10>
                    <ion-item bg-transparent no-padding>
                        <ion-label floating>Forma de Pago</ion-label>
                        <ion-select interface="popover" formControlName="creditCardId" [cancelText]="'general.cancel'|translate"
                            [okText]="'general.ok'|translate">
                            <ion-option *ngFor="let cc of creditCards" value="{{cc.id}}" [selected]="cc.is_default == 'on'">{{cc.title}}
                                -
                                {{cc.mask}}</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col col-2 align-self-end>
                    <button ion-button (click)="newCreditCard()" class="disable-hover">
                        <ion-icon name="add" size="large"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-6 align-self-center>
                    <ion-label no-margin style="color:#999;">Código de Seguridad</ion-label>
                </ion-col>

                <ion-col col-6 [class]="{'invalid':orderCheckoutForm.submitted && orderCheckoutForm.controls.cardCvv.errors}"
                    align-self-center>
                    <ion-item>
                        <input type="tel" autocomplete="cc-cvc" id="cc-cvc" ccCvc formControlName="cardCvv">
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-item bg-transparent no-padding>
                <ion-label stacked>Comentarios Adicionales del Pedido</ion-label>
                <ion-textarea formControlName="additionalComments" rows="6" bordered-textarea placeholder="Por Ejemplo, instrucciones para empaque"></ion-textarea>
            </ion-item>
        </form>
    </ion-list>

    <ion-row>
        <ion-col text-center>
            <button ion-button icon-right margin-top (click)="confirm()" class="button-checkout" [disabled]="orderCheckoutForm.invalid">
                <span>Confirmo mi Pedido</span>
            </button>
        </ion-col>
    </ion-row>

</ion-content>