page-order-checkout {
    ion-select{max-width: 100%;border:solid 1px #AAAAAA;}
    ion-row{margin-bottom: 1rem;}
    h5{
        position:relative;
        background: #FFF;
        &:before {
            border-top: 2px solid #AAA;
            content:"";
            margin: 0 auto; /* this centers the line to the full width specified */
            position: absolute; /* positioning must be absolute here, and relative positioning must be applied to the parent */
            top: 50%; left: 0; right: 0; bottom: 0;
            width: 95%;
            z-index: -1;
        }
    }
    .list-md .item-block .item-inner {border:none !important;padding:0!important;margin-top:1rem;}
    .list-md .item-block:first-child .item-inner{margin-top:0;}
    .label-md[stacked] {font-size:1.5rem;text-align:center;margin-bottom:0.5rem;}
    .item-label-stacked .select-md, .item-label-floating .select-md {padding-left:8px;}

    #cc-exp, #cc-cvc {text-align:center;max-width:100%;}
    

    .block-cc .item-inner, .block-cc .item-inner .label{margin-top:1px !important;}

    .ng-invalid input {
        border: 1px solid #ea6153;
    }
}